<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="https://static.vecteezy.com/system/resources/previews/000/397/015/original/modern-company-logo-design-vector.jpg" width="40px" alt="">
      <span class="ml-3 text-xl">My Store</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/" class="mr-5 hover:text-gray-900">Home</a>
      <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
      <a class="mr-5 hover:text-gray-900">Support</a>
    </nav>
    <button class="inline-flex items-center bg-blue-100 border-0 py-1 px-8 focus:outline-none hover:bg-gray-400 rounded text-base mt-4 md:mt-0">
          <a href="/login">Login</a>
    </button>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-8 focus:outline-none hover:bg-gray-400 rounded text-base mt-4 md:mt-0">

          <a href="/login">LogOut</a>
    </button>
  </div>
</header>